$white: #fcf9f4;
$primary: #c07572a6;
$red-4: #a57b7b;
$red-3: #deb0b0;
$red-2: #f4d4d0;
$red-1: #f3e5e4;
$brown: rgb(155, 118, 103);

$white: #fcf9f4;
$light-grey: #b9b9b771;
$mid-grey: #696760;
$dark-grey: #4d4a43;

.cartPageWrap {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.473);
  font-family: "Josefin Sans", sans-serif;
  h1 {
    margin: 0px;
    color: $dark-grey;
  }
  h5 {
    margin: 0px;
    color: $dark-grey;
  }
  p {
    margin: 0px;
    color: $dark-grey;
  }
  .blankSpace {
    background-color: transparent;
    width: 100%;
    height: 100vh;
  }
  .cartWrap {
    width: 0rem;
    height: 100vh;
    position: absolute;
    background-color: $white;
    right: 0;
    top: 0;
    transition: width 0.2s;
    overflow: hidden;

    .cartHeader {
      background-color: rgba(128, 128, 128, 0.205);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 20px;

      h1 {
        font-size: 2rem;
        font-weight: 300;
        // opacity: 0;
      }
      h5 {
        font-size: 0.8rem;
        text-decoration: underline;
        font-weight: 700;
        // opacity: 0;
      }
      h5:hover {
        cursor: pointer;
      }
    }
    .imgWrap {
      width: 7rem;
      height: 7rem;
      //   background-color: cyan;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .cartItem {
      display: flex;
      //   background-color: grey;
      padding: 0.25rem 0rem;
      margin-right: 1rem;
      margin-left: 1rem;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(216, 214, 214);
    }
    .quantityWrap {
      display: flex;
      align-items: center;
      justify-content: center;
      .minusWrap {
        width: 1.9rem;
        height: 1.9rem;
        display: flex;
        box-sizing: border-box;
        margin-right: 0.25rem;
        background-color: $red-3;
      }
      .plusWrap {
        width: 1.9rem;
        height: 1.9rem;
        display: flex;
        box-sizing: border-box;
        margin-left: 0.25rem;
        background-color: $red-3;
      }
      .quantity {
        width: 3rem;
        font-size: 1.25rem;
      }
      .quantityNumberWrap {
        height: 1.9rem;
        display: flex;
        border: solid 2px rgb(168, 166, 166);
        box-sizing: border-box;
      }
      .plusWrap:hover,
      .minusWrap:hover {
        cursor: pointer;
      }
    }
    .itemMid {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      //   background-color: orange;
      height: 5rem;
      width: 10rem;
    }
    .itemRight {
      display: flex;
      flex-direction: column;
      //   background-color: royalblue;
      justify-content: space-between;
      align-items: flex-end;
      height: 5rem;
      .removeWrap {
        // height: 2rem;
        // width: 2rem;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        // background-color: red;
      }
      .removeWrap:hover {
        cursor: pointer;
        // background-color: blue;
      }
    }
  }
}

.cartPageWrap {
  .cartOpen {
    width: 25rem;
  }
}
