$white: #fcf9f4;
$primary: #c07572a6;
$red-4: #a57b7b;
$red-3: #deb0b0;
$red-2: #f4d4d0;
$red-1: #f3e5e4;
$brown: rgb(155, 118, 103);

$white: #fcf9f4;
$light-grey: #b9b9b771;
$mid-grey: #696760;
$dark-grey: #4d4a43;

.itemPage {
  h5 {
    margin: 0px;
  }
  .imgWrap {
    width: 49%;
    aspect-ratio: 1;
    background-color: $white;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .textContent {
    width: 49%;
    font-family: "Josefin Sans", sans-serif;
  }
  .smellWrap,
  .scrubWrap {
    width: 2rem;
    height: 2rem;
    img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  .traitsWrap {
    h5 {
      font-size: 1rem;
    }
    .top {
      font-weight: 600;
    }
    .bottom {
      font-weight: 300;
    }
  }
  .quantityWrap {
    .label {
      font-size: 1rem;
    }
    .option {
      font-size: 0.9rem;
      margin-right: 1rem;

      padding: 5px 10px;
      border-radius: 5px;
    }
    .option:hover {
      background-color: $red-2;
      cursor: pointer;
    }
  }
  .addCartBtn {
    background-color: #9b7566;
    color: $white;
  }
  .ingredientsLabel {
    font-weight: 400;
  }
  .price {
    color: rgb(43, 190, 43);
  }
  .contentWrap {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .smellsLikeWrap,
  .exfoliationWrap {
    padding-right: 3rem;
  }
  .label {
    text-align: start;
  }
}

@media screen and (max-width: 770px) {
  .itemPage {
    .contentWrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .imgWrap {
      width: 100%;
    }
    .textContent {
      width: 100%;
      padding-top: 2rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .itemPage {
    h1 {
      margin: auto;
      margin-bottom: 1rem;
    }
    .smellsLikeWrap,
    .exfoliationWrap {
      padding-right: 1.25rem;
    }
    .traitsWrap {
      margin: auto;
    }
    .price {
      margin: auto;
    }
    .quantityWrap {
      margin: auto;
      h5 {
        text-align: center;
      }
    }
    button {
      margin: auto;
    }
  }
}
