$white: #fcf9f4;
$primary: #c07572a6;
$red-4: #a57b7b;
$red-3: #deb0b0;
$red-2: #f4d4d0;
$red-1: #f3e5e4;

$white: #fcf9f4;
$mid-grey: #696760;
$dark-grey: #323029;

.hero-wrap {
  background: linear-gradient(192deg, #ffffff1a 70%, rgba(211, 209, 209, 0.879)),
    url("../assets/HeroImg.jpg");
  background-size: cover;
  position: absolute;
  top: 1;
  left: 0;
  height: 160%;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .text-wrap {
    color: $white;
    // background-color: red;
    display: flex;
    flex-direction: column;
    padding-bottom: 35rem;
    // height: 95rem;
    align-items: center;
    justify-content: flex-end;
    h1 {
      font-weight: 500;
      text-shadow: -1px 0 rgba(0, 0, 0, 0.267), 0 1px rgba(0, 0, 0, 0.288),
        1px 0 rgba(0, 0, 0, 0.178), 0 -1px rgba(0, 0, 0, 0.278);
      //   font-style: italic;
      font-size: 50px;
    }
  }
}

.hero-wrap-wrap {
  background-color: red;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 1350px) {
  .hero-wrap {
    height: 140%;
    // .text-wrap {
    //   height: 80rem;
    // }
  }
}

@media screen and (max-width: 1350px) {
  .hero-wrap {
    height: 140%;
    // .text-wrap {
    //   height: 80rem;
    // }
  }
}

@media screen and (max-width: 1150px) {
  .hero-wrap {
    height: 120%;
    .text-wrap {
      padding-bottom: 30rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .hero-wrap {
    height: 100%;
    .text-wrap {
      padding-bottom: 21rem;
    }
  }
}

@media screen and (max-width: 850px) {
  .hero-wrap {
    height: 90%;
    .text-wrap {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .hero-wrap {
    height: 70%;
    .text-wrap {
      padding-bottom: 15rem;
      h1 {
        font-size: 2.25rem;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .hero-wrap {
    height: 60%;
    .text-wrap {
      padding-bottom: 12rem;
      h1 {
        font-size: 1.75rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .hero-wrap {
    height: 45%;
    .text-wrap {
      //   height: 27.5rem;
      width: 15rem;
      color: white;
      padding-bottom: 3rem;
      h1 {
        font-size: 1.75rem;
      }
    }
  }
}
