$white: #fcf9f4;
$primary: #c07572a6;
$red-4: #a57b7b;
$red-3: #deb0b0;
$red-2: #f4d4d0;
$red-1: #f3e5e4;

$white: #fcf9f4;
$light-grey: #b9b9b771;
$mid-grey: #696760;
$dark-grey: #323029;

$hero-height-1: 160%;
$hero-height-2: 140%;
$hero-height-3: 140%;
$hero-height-4: 140%;
$hero-height-5: 140%;
$hero-height-6: 140%;
$hero-height-7: 140%;
$hero-height-8: 140%;

.hero-wrap {
  background: linear-gradient(192deg, #ffffff1a 70%, rgba(211, 209, 209, 0.879)),
    url("../assets/HeroImg.jpg");
  background-size: cover;
  position: absolute;
  top: 1;
  left: 0;
  height: 100.1rem;
  width: 100%;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  .text-wrap {
    color: $white;
    // background-color: red;
    display: flex;
    flex-direction: column;
    padding-bottom: 35rem;
    // height: 95rem;
    align-items: center;
    justify-content: flex-end;
    h1 {
      font-weight: 500;
      text-shadow: -1px 0 rgba(0, 0, 0, 0.267), 0 1px rgba(0, 0, 0, 0.288),
        1px 0 rgba(0, 0, 0, 0.178), 0 -1px rgba(0, 0, 0, 0.278);
      //   font-style: italic;
      font-size: 50px;
    }
  }
}

.hero-wrap-wrap {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100.1rem;
}

@media screen and (max-width: 1350px) {
  .hero-wrap {
    height: 87.5rem;
    // .text-wrap {
    //   height: 80rem;
    // }
  }
  .hero-wrap-wrap {
    height: 87.5rem;
  }
}

@media screen and (max-width: 1150px) {
  .hero-wrap {
    height: 75rem;
    .text-wrap {
      padding-bottom: 30rem;
    }
  }
  .hero-wrap-wrap {
    height: 75rem;
  }
}

@media screen and (max-width: 1000px) {
  .hero-wrap {
    height: 62.5rem;
    .text-wrap {
      padding-bottom: 21rem;
    }
  }
  .hero-wrap-wrap {
    height: 62.5rem;
  }
}

@media screen and (max-width: 850px) {
  .hero-wrap {
    height: 56.3rem;
    .text-wrap {
      h1 {
        font-size: 2.5rem;
      }
    }
  }
  .hero-wrap-wrap {
    height: 56.3rem;
  }
}

@media screen and (max-width: 700px) {
  .hero-wrap {
    height: 43.8rem;
    .text-wrap {
      padding-bottom: 15rem;
      h1 {
        font-size: 2.25rem;
      }
    }
  }
  .hero-wrap-wrap {
    height: 43.8rem;
  }
}

@media screen and (max-width: 550px) {
  .hero-wrap {
    height: 37.5rem;
    .text-wrap {
      padding-bottom: 12rem;
      h1 {
        font-size: 1.75rem;
      }
    }
  }
  .hero-wrap-wrap {
    height: 37.5rem;
  }
}

@media screen and (max-width: 400px) {
  .hero-wrap {
    height: 28.1rem;
    .text-wrap {
      //   height: 27.5rem;
      width: 15rem;
      color: white;
      padding-bottom: 3rem;
      h1 {
        font-size: 1.75rem;
      }
    }
  }
  .hero-wrap-wrap {
    height: 28.1rem;
  }
}

.bestsellers {
  font-family: "Raleway", sans-serif;
  background-color: $white;
  overflow: hidden;

  .bestsellers-header {
    font-weight: 300;
    color: $primary;
  }
  .img-wrap {
    width: 100%;
  }
  .itemCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    // background-color: blue;
    width: 20%;
    padding: 1.5rem;
    margin-bottom: 10rem;
  }
  .text-wrap {
    display: flex;
    flex-direction: column;
  }
  .cards-wrap {
    display: flex;
    // background-color: red;
    height: 25.5rem;
    flex-wrap: wrap;
  }
  .addBtn {
    background-color: $primary;
    border: none;
  }
}

@media screen and (max-width: 1400px) {
  .bestsellers {
    .itemCard {
      width: 25%;
    }
  }
}

@media screen and (max-width: 991px) {
  .bestsellers {
    .itemCard {
      width: 33.333%;
    }
  }
}

@media screen and (max-width: 767px) {
  .bestsellers {
    .itemCard {
      width: 50%;
    }
  }
}
@media screen and (max-width: 450px) {
  .bestsellers {
    .itemCard {
      width: 50%;
      padding: 0.5rem;
    }
  }
}
