$white: #fcf9f4;
$primary: #c07572a6;
$red-4: #a57b7b;
$red-3: #deb0b0;
$red-2: #f4d4d0;
$red-1: #f3e5e4;
$brown: rgb(155, 118, 103);

$white: #fcf9f4;
$light-grey: #b9b9b771;
$mid-grey: #696760;
$dark-grey: #323029;

.shopHeader {
  color: $mid-grey;
  .content {
    border-bottom: 1px solid $mid-grey;
    text-align: left;
    h1 {
      font-family: "Inter", sans-serif;
      font-size: 3.5rem;
      font-weight: 700;
    }
    p {
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      font-weight: 300;
    }
  }
}

// .sidePanel {
//   .sidePanel-menu {
//     overflow: hidden;
//     transition: transform 0.2s;
//     transform: scaleY(0);
//     transform-origin: top;
//   }
//   .active {
//     transform: scaleY(1);
//   }
// }

.sidePanel {
  .sidePanel-menu {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.2s;
    border-left: 1px solid $mid-grey;
    padding-left: 0.5rem;
    // background-color: blue;
  }
  .itemTitle:hover {
    cursor: pointer;
  }
  .active {
    max-height: 10rem;
  }
}
